<div class="content">

  <form enctype="multipart/form-data" *ngIf="!loading">

    <input type="file" name="pic" id="pic" (change)="fileInput($event.target.files)" />
    <label for="pic">Upload your profile picture</label>

    <input type="text" name="fn" id="fn" placeholder="First Name" required [(ngModel)]="form.fname" #fname="ngModel" />
    <input type="text" name="ln" id="ln" placeholder="Last Name" required [(ngModel)]="form.lname" #lname="ngModel" />

    <input type="email" name="email" id="email" placeholder="E-mail" required [(ngModel)]="form.email" #email="ngModel" />
    <input type="password" name="password" id="password" placeholder="New Password" [(ngModel)]="form.password" #password="ngModel" />

    <input type="text" name="address1" id="address1" placeholder="Address Line 01" required [(ngModel)]="form.add1" #add1="ngModel" />
    <input type="text" name="address2" id="address2" placeholder="Address Line 02" required [(ngModel)]="form.add2" #add2="ngModel" />

    <input type="text" name="city" id="city" placeholder="City" required [(ngModel)]="form.city" #city="ngModel" />
    <input type="text" name="zip" id="zip" placeholder="Zip code" required [(ngModel)]="form.zip" #zip="ngModel" />

    <h2>Want to apply as a professional? Don't forget to fill the info below!</h2>

    <textarea name="description" id="description" placeholder="Description" [(ngModel)]="form.description" #description="ngModel"></textarea>

    <input type="text" name="rate" id="rate" placeholder="Hourly rate" class="rate" currencyMask [options]="{ prefix: 'CAD ', thousands: '.', decimal: ',' }" [(ngModel)]="form.rate" #rate="ngModel" />

    <p>Select your categories below:</p>

    <div class="list-categories">

      <p *ngFor="let cat of cats" (click)="selectCategory(cat.id)" [ngClass]="[categories.indexOf(cat.id) == -1 ? 'highlight' : 'highlight-dark']">{{cat.name}}</p>

    </div>

    <h2>Add new certificate</h2>

    <input type="text" name="ctitle" id="ctitle" placeholder="Title" required [(ngModel)]="form.ctitle" #ctitle="ngModel" />
    <input type="text" name="cdesc" id="cdesc" placeholder="Description" required [(ngModel)]="form.cdesc" #cdesc="ngModel" />
    <input type="text" name="cissuer" id="cissuer" placeholder="Issuer" required [(ngModel)]="form.cissuer" #cissuer="ngModel" />

    <div class="list-certificates">

      <div *ngFor="let c of certificates" class="certificate">
        <p>{{c.title}}</p>
        <span (click)="removeCertificate(c.id)">DELETE</span>
      </div>

    </div>

    <p (click)="onSubmit()" class="highlight-dark">{{updating ? 'Loading...' : 'Save profile'}}</p>

  </form>

</div>
