<div class="header header-profile">

  <div class="content content-title header-profile-content">

    <div class="profile-line">

      <div class="profile-line-01">

        <h1>Elliot March</h1>

        <div class="profile-info">
          <i class="fas fa-star fa-star-selected"></i>
          <i class="fas fa-star fa-star-selected"></i>
          <i class="fas fa-star fa-star-selected"></i>
          <i class="fas fa-star fa-star-selected"></i>
          <i class="fas fa-star"></i>
          <span>108 reviews | Toronto | Eletricist, handyman, contractor</span>
          <p class="highlight highlight-menu chat-button">CHAT</p>
        </div>

        <p>5+ years as eletrician, contractor and general handyman. Check my profile to see past jobs.</p>

      </div>

      <div class="profile-line-02">

        <h4>$25 CAD/HOUR</h4>

        <div class="profile-picture" style="background-image: url('../../../assets/profiles/01.jpg');"></div>

      </div>

    </div>

  </div>

</div>

<div class="content">

  <div class="profile-status">

    <p><span>100%</span><br>on time</p>
    <p><span>100%</span><br>on time</p>
    <p><span>100%</span><br>on time</p>

  </div>

  <div class="profile-section">

    <h4>Reviews</h4>
    <div class="divisor"></div>

  </div>

  <div class="profile-reviews">

    <div class="profile-review-item">

      <img src="../../../assets/profiles/02.jpg" alt="profile" />

      <div class="review-info">
        <h4>Abel Hall</h4>
        <p>Very professional, quick and precise. 100% would hire again!</p>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star"></i>
        <span>Project: new outlets on room</span>
      </div>

    </div>

    <div class="profile-review-item">

      <img src="../../../assets/profiles/02.jpg" alt="profile" />

      <div class="review-info">
        <h4>Abel Hall</h4>
        <p>Very professional, quick and precise. 100% would hire again!</p>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star fa-star-selected"></i>
        <i class="fas fa-star"></i>
        <span>Project: new outlets on room</span>
      </div>

    </div>

  </div>

  <div class="profile-section">

    <h4>Certificates</h4>
    <div class="divisor"></div>

  </div>

  <div class="profile-certificates">

    <div class="profile-certificate-item">

      <i class="fas fa-star"></i>
      <div class="profile-certificate-info">
        <h4>Skilled Electrician</h4>
        <p>Certificate for skilled Electrician</p>
        <span>The Electricians Guild of America</span>
      </div>

    </div>

    <div class="profile-certificate-item">

      <i class="fas fa-star"></i>
      <div class="profile-certificate-info">
        <h4>Skilled Electrician</h4>
        <p>Certificate for skilled Electrician</p>
        <span>The Electricians Guild of America</span>
      </div>

    </div>

    <div class="profile-certificate-item">

      <i class="fas fa-star"></i>
      <div class="profile-certificate-info">
        <h4>Skilled Electrician</h4>
        <p>Certificate for skilled Electrician</p>
        <span>The Electricians Guild of America</span>
      </div>

    </div>

  </div>

</div>
