<div class="header-menu">

  <div class="content content-menu">

    <div class="header-logo">

      <a routerLink="/"><img src="../../../assets/logo/logo.png" alt="saedus" /></a>

    </div>

    <i id="hidden-menu-open" (click)="showMenu = true" class="fas fa-bars"></i>

    <div [className]="showMenu ? 'hidden-header-menu-items' : 'header-menu-items'">

      <ul>

        <i (click)="showMenu = false" class="fas fa-times"></i>

        <a routerLink="/projects"><li>Available Projects</li></a>

        <ng-container *ngIf="user == null">

          <a routerLink="/"><li>How it Works</li></a>
          <a routerLink="/sign-in"><li class="highlight highlight-menu">Sign in</li></a>
          <a routerLink="/sign-up"><li class="highlight highlight-menu">Sign up</li></a>

        </ng-container>

        <ng-container *ngIf="user">

          <a routerLink="/my-projects"><li>My projects</li></a>

          <a class="wallet-menu" routerLink="/my-wallet"><li>CAD {{wallet.value}}</li></a>

          <a routerLink="/profile/{{user}}"><div class="profile-icon" [ngStyle]="{ 'background-image': 'url(http://18.224.180.162/api/resources/profile/avatar/' + user + '.jpg)'}"></div></a>
          <li (click)="logout()" class="highlight highlight-menu">Logout</li>

        </ng-container>

      </ul>

    </div>

  </div>

</div>
