<div class="content">

  <form>

    <input type="text" name="fulln" id="fulln" placeholder="Full Name" required />
    <input type="email" name="email" id="email" placeholder="E-mail" required />

    <input type="password" name="password" id="password" placeholder="Password" required />
    <input type="password" name="repeat" id="repeat" placeholder="Repeat password" required />

    <input type="text" name="address1" id="address1" placeholder="Address Line 01" required />
    <input type="text" name="address2" id="address2" placeholder="Address Line 02" required />

    <input type="text" name="zip" id="zip" placeholder="Zip code" required />

    <p class="highlight-dark">Create account</p>

  </form>

</div>
