<div class="content">

  <div class="login-form">

    <h3>Login to your account</h3>

    <form>

      <input type="text" name="email" id="email" placeholder="E-mail" required />
      <input type="password" name="password" id="password" placeholder="Password" required />

      <span>Forgot your password?</span>

      <p class="highlight-dark">Login</p>

    </form>

  </div>

  <div class="create-form">

    <h3>Or create a new one</h3>

    <form>

      <input type="text" name="fulln" id="fulln" placeholder="Password" required />
      <input type="text" name="email" id="email-new" placeholder="E-mail" required />

      <a routerLink="/sign-up"><p class="highlight-dark">Create account</p></a>

    </form>

  </div>

</div>
