<div class="content">

  <div class="login-form">

    <h3>Login to your account</h3>

    <form>

      <input type="email" name="email" id="email" placeholder="E-mail" required [(ngModel)]="form.email" #email="ngModel" />
      <input type="password" name="password" id="password" placeholder="Password" required [(ngModel)]="form.password" #password="ngModel" />

      <span>
        <a routerLink="/recover-password">Forgot your password?</a>
      </span>

      <p (click)="onSubmit()" class="highlight-dark">{{loading ? 'Loading...' : 'Login'}}</p>

    </form>

  </div>

  <div class="create-form">

    <h3>Or create a new one</h3>

    <form>

      <a routerLink="/sign-up"><p class="highlight-dark">Create account</p></a>

    </form>

  </div>

</div>
