<div class="footer">

  <div class="content content-footer">

    <div class="footer-section footer-image">

      <a routerLink="/"><img src="../../../assets/logo/logo.png" alt="saedus" /></a>

    </div>

    <div class="footer-section">

      <ul>
        <li>Categories</li>
        <li>Projects</li>
        <li>Professionals</li>
        <li>Showcase</li>
      </ul>

    </div>

    <div class="footer-section">

      <ul>
        <li>Contact us</li>
        <li>How it works</li>
        <li>Security</li>
        <li>Investor</li>
        <li>Quotes</li>
      </ul>

    </div>

    <div class="footer-section">

      <ul>
        <li>Privacy Policy</li>
        <li>Terms and Conditions</li>
        <li>Copyright Policy</li>
        <li>Fees and Charges</li>
      </ul>

    </div>

  </div>

</div>
