<div class="footer">

  <div class="content content-footer">

    <div class="footer-section footer-image">

      <a routerLink="/" class="logo">Epropers</a>

    </div>

    <div class="footer-section">

      <ul>
        <li><a routerLink="/categories">Categories</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/search/%">Professionals</a></li>
        <li><a routerLink="/showcase">Showcase</a></li>
      </ul>

    </div>

    <div class="footer-section">

      <ul>
        <li><a routerLink="/contact-us">Contact us</a></li>
        <li><a routerLink="/how-it-works">How it works</a></li>
        <li><a routerLink="/security">Security</a></li>
        <li><a routerLink="/investor">Investor</a></li>
        <li><a routerLink="/quotes">Quotes</a></li>
      </ul>

    </div>

    <div class="footer-section">

      <ul>
        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
        <li><a routerLink="/terms-and-conditions">Terms and Conditions</a></li>
        <li><a routerLink="/copyright-policy">Copyright Policy</a></li>
        <li><a routerLink="/fees-and-charges">Fees and Charges</a></li>
      </ul>

    </div>

  </div>

</div>
