<div class="content content-milestones">

  <h2>Project Milestones</h2>

  <div class="project-milestones">

    <div *ngFor="let milestone of milestones" class="milestone">

      <p>{{milestone.title}}</p>
      <p>{{milestone.price}} CAD</p>
      <p *ngIf="milestone.status == 0" class="highlight highlight-menu">Release</p>
      <p *ngIf="milestone.status == 1">Released {{milestone.released_date | date : 'mediumDate'}}</p>

    </div>

  </div>

  <p class="highlight highlight-menu project-actions">Create Milestone</p>

</div>
