<h2 mat-dialog-title></h2>

<mat-dialog-content>

  <form autocomplete="off">

    <input type="text" autocomplete="off" name="name" id="name" placeholder="Name" [(ngModel)]="form.name" maxlength="50" #name="ngModel" />
    <label>
      <input type="checkbox" [(ngModel)]="form.home" [ngModelOptions]="{standalone: true}" [defaultChecked]="false"/>Home construction related
    </label>

    <p (click)="onSubmit()" class="highlight-dark clickable">{{loading ? 'Loading...' : 'Create category'}}</p>

  </form>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button clickable" (click)="close()">Close</button>
</mat-dialog-actions>
