<div class="content how-works">

  <h1>How does it works?</h1>

  <div class="how-works-line line-left"></div>
  <div class="how-works-line line-right"></div>

  <p>You search for a professional.</p>

  <div class="how-works-line line-left"></div>
  <div class="how-works-line line-right"></div>

  <p>You hire the professional you're looking for.</p>

  <div class="how-works-line line-left"></div>
  <div class="how-works-line line-right"></div>

  <p>After the job is done, you release the payment.</p>

  <h2>As simple as that.</h2>
  <p class="large">No more trouble for you when hiring experts for your home services.</p>

</div>
