<div class="content home-categories">

  <h2>OR SEARCH BY CATEGORY:</h2>

  <ul>

    <a routerLink="/search"><li>GENERAL CONTRACTORS</li></a>
    <a routerLink="/search"><li>HANDYMAN SERVICES</li></a>
    <a routerLink="/search"><li>BATHROOM RENOVATIONS</li></a>
    <a routerLink="/search"><li>ELETRICIANS</li></a>
    <a routerLink="/search"><li>DESIGNERS</li></a>
    <a routerLink="/search"><li>LANDSCAPE</li></a>
    <a routerLink="/search"><li>SMART HOME</li></a>
    <a routerLink="/search"><li>SECURITY</li></a>

  </ul>

  <a routerLink="/categories"><p>View all categories</p></a>

</div>
