<div class="content bullets">

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>ADVANCED SEARCH</h2>
    <p>You can search based on your needs, and filter for categories, price and deadline for your job.</p>
  </div>

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>POST PROJECTS</h2>
    <p>Post specific projects to receive bids from experienced professionals within minutes.</p>
  </div>

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>LIVE CHAT</h2>
    <p>Contact professinals to discuss details about the job before you hire anyone.</p>
  </div>

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>VIEW PORTFOLIOS</h2>
    <p>Enter a professional’s profile to see past works, experience and a little more about him.</p>
  </div>

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>PAY WHEN DONE</h2>
    <p>Pay for work when it has been completed and you're 100% satisfied with the job.</p>
  </div>

  <div class="bullet-item">
    <i class="fas fa-circle"></i>
    <h2>24/7 SUPPORT</h2>
    <p>We're always here to help. Our support consists of real people who are available 24/7.</p>
  </div>

</div>
