<div class="content">

  <form *ngIf="!loading">

    <input type="text" name="title" id="title" placeholder="Title" [(ngModel)]="form.title" #title="ngModel" />

    <textarea name="description" id="description" placeholder="Description" [(ngModel)]="form.description" #description="ngModel"></textarea>

    <input type="text" name="tags" id="tags" placeholder="Tags (separated by commas)" [(ngModel)]="form.tags" #tags="ngModel" />

    <input type="text" name="budget" id="budget" placeholder="Budget" class="budget" currencyMask [options]="{ prefix: 'CAD ', thousands: '', decimal: ',' }" [(ngModel)]="form.budget" #budget="ngModel" />

    <p (click)="onSubmit()" class="highlight-dark">{{updating ? 'Loading...' : 'Save project'}}</p>

  </form>

</div>
