<div class="header header-home">

  <div class="content content-title">

    <h1>All of our available categories</h1>
    <p>Check all categories you can find professionals for your projects online!</p>

    <app-search></app-search>

  </div>

</div>

<div class="content all-categories">

  <div class="all-categories-item">

    <h2>A</h2>

    <ul>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
    </ul>

  </div>

  <div class="all-categories-item">

    <h2>B</h2>

    <ul>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
    </ul>

  </div>

  <div class="all-categories-item">

    <h2>C</h2>

    <ul>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
    </ul>

  </div>

  <div class="all-categories-item">

    <h2>D</h2>

    <ul>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
    </ul>

  </div>

  <div class="all-categories-item">

    <h2>E</h2>

    <ul>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
      <a routerLink="/search"><li>Lorem Ipsum</li></a>
    </ul>

  </div>

</div>
