<div class="header header-my-projects">

  <div class="content content-title">

    <h1>Your published projects</h1>
    <p>Here you can see all of your published projects. You can edit, unpublish or create new projects.</p>

  </div>

</div>

<div class="content">

  <div class="project-item">

    <div class="project-item-info">

      <h3>Need painter to renew room</h3>
      <p>Need to repaint a room that’s yellow to red. Room is 30 square meters. Need it done in 3 days.</p>
      <span>32 bids | Eletricist | Published 20 minutes ago</span>

    </div>

    <div class="project-item-actions">

      <h3>$240 CAD</h3>
      <p class="highlight-dark">Edit</p>
      <span>Unpublish</span>

    </div>

  </div>

  <div class="project-item">

    <div class="project-item-info">

      <h3>Need painter to renew room</h3>
      <p>Need to repaint a room that’s yellow to red. Room is 30 square meters. Need it done in 3 days.</p>
      <span>32 bids | Eletricist | Published 20 minutes ago</span>

    </div>

    <div class="project-item-actions">

      <h3>$240 CAD</h3>
      <p class="highlight-dark">Edit</p>
      <span>Unpublish</span>

    </div>

  </div>

  <div class="project-item">

    <div class="project-item-info">

      <h3>Need painter to renew room</h3>
      <p>Need to repaint a room that’s yellow to red. Room is 30 square meters. Need it done in 3 days.</p>
      <span>32 bids | Eletricist | Published 20 minutes ago</span>

    </div>

    <div class="project-item-awards">

      <img src="../../../assets/profiles/01.jpg" alt="profile"/>
      <p>Awarded to<br><span><a routerLink="/profile">Elliot March</a></span> by <span>$125 CAD</span></p>

    </div>

  </div>

  <div class="project-item project-complete">

    <div class="project-item-info">

      <h3>Need painter to renew room</h3>
      <p>Need to repaint a room that’s yellow to red. Room is 30 square meters. Need it done in 3 days.</p>
      <span>32 bids | Eletricist | Published 20 minutes ago</span>

    </div>

    <div class="project-item-awards">

      <img src="../../../assets/profiles/01.jpg" alt="profile"/>
      <p>Complete by<br><span><a routerLink="/profile">Elliot March</a></span> for <span>$125 CAD</span></p>

    </div>

  </div>

</div>
