.project-item {

  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 0;
  border-bottom: 1px solid #dedede;

}

.project-item-info {

  width: 70%;

}

.project-item-info h3 {

  color: #343434;
  margin: 0;

}

.project-item-info p {

  width: 90%;
  font-weight: 100;
  margin: 10px 0;

}

.project-item-info i {

  font-size: 12px;
  margin: 0 5px 0 0;

}

.project-item-info span {

  font-weight: 100;
  font-size: 13px;

}

.project-item-actions {

  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;

}

.project-item-actions p {

  margin: 0 30px;

}

.project-item-actions span {

  font-weight: 100;
  color: #9e9e9e;

}

.project-item-awards {

  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;

}

.project-item-awards img {

  max-width: 100px;

}

.project-item-awards p {

  font-weight: 100;
  display: block;
  margin: 0 0 0 20px;

}

.project-item-awards span {

  font-weight: 700;

}

.project-complete {

  opacity: 0.3;

}

@media screen and (max-width: 1350px) {

  .project-item-actions {
    flex-direction: column;
  }

  .project-item-awards {
    flex-direction: column;
    text-align: center;
  }

  .project-item-awards p {
    margin: 10px 0 0;
  }

  .project-item-actions span {
    margin: 25px 0 0 0;
  }

}

@media screen and (max-width: 950px) {

  .project-item {
    flex-direction: column;
    text-align: center;
  }

  .project-item-awards img {
    margin: 25px 0 0;
  }

}
