<div class="header header-my-projects">

  <div class="content content-title">

    <h1>Your published projects</h1>
    <p>Here you can see all of your published projects. You can edit, unpublish or create new projects.</p>

  </div>

</div>

<div class="content">

  <div *ngFor="let project of projects;" [ngClass]="[project.status == 2 ? 'project-item project-complete' : 'project-item']">

    <div class="project-item-info">

      <a routerLink="/bids/{{project.id}}"><h3>{{project.title}}</h3></a>
      <p>{{project.description}}</p>
      <span>32 bids | Eletricist | Published 20 minutes ago</span>

    </div>

    <ng-container *ngIf="project.status == 0">

      <div class="project-item-actions">

          <h3>${{project.budget}} CAD</h3>
          <p class="highlight-dark">Edit</p>
          <span>Unpublish</span>

      </div>

    </ng-container>

    <ng-container *ngIf="project.status == 1">

      <div class="project-item-awards">

        <div class="profile-image" [ngStyle]="{ 'background-image': 'url(http://18.224.180.162/api/resources/profile/avatar/' + project.awarded + '.jpg)'}"></div>
        <p>Awarded to<br><span><a routerLink="/profile/{{project.awarded}}">{{project.professional_fname + ' ' + project.professional_lname}}</a></span> by <span>${{project.price}} CAD</span></p>

      </div>

    </ng-container>

    <ng-container *ngIf="project.status == 2">

      <div class="project-item-awards">

        <div class="profile-image" [ngStyle]="{ 'background-image': 'url(http://18.224.180.162/api/resources/profile/avatar/' + project.awarded + '.jpg)'}"></div>
        <p>Completed by<br><span><a routerLink="/profile/{{project.awarded}}">{{project.professional_fname + ' ' + project.professional_lname}}</a></span> for <span>${{project.price}} CAD</span></p>

      </div>

    </ng-container>

  </div>

</div>
